<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.wolfram.eclipse.MEET.debug.consolelaunch">
    <stringAttribute key="launch.config.file.fullname" value="08-FourierAnalysis.nb"/>
    <stringAttribute key="launch.config.project.name" value="CompPhys2"/>
</launchConfiguration>
