<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.wolfram.eclipse.MEET.debug.consolelaunch">
    <stringAttribute key="launch.config.file.fullname" value="Electrostatic.nb"/>
    <stringAttribute key="launch.config.project.name" value="CompPhys3"/>
</launchConfiguration>
